<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>集资首页</title>
    <link rel="icon" href="image/1.jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <style>
        h1
        {
            color:orange;
            text-align:center;
            font-family:"Times New Roman";
        }
    </style>
</head>
<body>
<div class="page-header" align="center">
    <h1>宇你有管集资涨幅</h1>
    <h2 id="refresh"></h2>
</div>

<div class="container" style="width: 80%;align-content: center">
    <table class="table table-striped" id="monthIncome"></table>
</div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="container" id="dayIncome" style="width: 800px;height:400px;align-content: center"></div>
<div class="container" id="weekIncome" style="width: 800px;height:400px;align-content: center"></div>
<div class="container" style="width: 50%;align-content: center" align="center">
    <h3 align="center">个人集资排名</h3>
    <table class="table table-striped" id="rank"></table>
    <a a href="javascript:void(0);" onclick="getAll()" style="align-content: center">点击查看所有排名</a>
</div>

<script src="js/jquery-3.5.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/echart.min.js"></script>
<!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>-->
<script src="js/bootstrap-table.js"></script>

<script type="text/javascript">

    var dayChart = echarts.init(document.getElementById('dayIncome'));
    // 显示标题，图例和空的坐标轴
    dayChart.setOption({
        title: {
            text: '日涨幅'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['金额']
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '金额',
            type: 'line',
            smooth: true,
            data: []
        }]
    });

    dayChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    $.ajax({
        type : "post",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/income/getDay",    //请求发送到TestServlet处
        data : {},
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            let dDates=[];    //类别数组（实际用来盛放X轴坐标值）
            let dIncomes=[];    //销量数组（实际用来盛放Y坐标值）
            if (result.code == '0') {
                let data = result.data;
                for(let i=0;i<data.length;i++){
                    dDates.push(data[i].date);
                    dIncomes.push(data[i].income);
                }
                dayChart.hideLoading();    //隐藏加载动画
                dayChart.setOption({        //加载数据图表
                    xAxis: {
                        data: dDates
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '金额',
                        data: dIncomes
                    }]
                });

                var refreshTime = "更新时间：" + dDates[dDates.length-1];
                $('#refresh').html(refreshTime);

            }
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            dayChart.hideLoading();
        }
    })

    var weekChart = echarts.init(document.getElementById('weekIncome'));
    // 显示标题，图例和空的坐标轴
    weekChart.setOption({
        title: {
            text: '周涨幅'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['金额']
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '金额',
            type: 'line',
            smooth: true,
            data: []
        }]
    });

    weekChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    var wDates=[];    //类别数组（实际用来盛放X轴坐标值）
    var wIncomes=[];    //销量数组（实际用来盛放Y坐标值）

    $.ajax({
        type : "post",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/income/getWeek",    //请求发送到TestServlet处
        data : {},
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result.code == '0') {
                let data = result.data;
                for(let i=0;i<data.length;i++){
                    wDates.push(data[i].date);
                    wIncomes.push(data[i].income);
                }
                weekChart.hideLoading();    //隐藏加载动画
                weekChart.setOption({        //加载数据图表
                    xAxis: {
                        data: wDates
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '金额',
                        data: wIncomes
                    }]
                });

            }
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            weekChart.hideLoading();
        }
    });

    $.get('/income/getTop10', function(result){
        if(result.code == '0'){
            let datalist = result.data;
            $('#rank').bootstrapTable({
                data: datalist,
                columns :  [{
                    field :  'id' ,
                    title :  '排名',
                    align: 'center',
                    valign: 'middle'
                },{
                    field :  'qq' ,
                    title :  'QQ',
                    align: 'center',
                    valign: 'middle'
                },  {
                    field :  'income' ,
                    title :  '金额',
                    align: 'center',
                    valign: 'middle'
                }]
            });
            $('#rank').bootstrapTable('hideLoading');
        }
    });

    function getAll(){
        $.get('/income/getRank', function(result){
            $("#rank").bootstrapTable('destroy');  //重新加载需要先销毁
            if(result.code == '0'){
                let datalist = result.data;
                $('#rank').bootstrapTable({
                    data: datalist,
                    columns :  [{
                        field :  'id' ,
                        title :  '排名',
                        align: 'center',
                        valign: 'middle'
                    },{
                        field :  'qq' ,
                        title :  'QQ',
                        align: 'center',
                        valign: 'middle'
                    },  {
                        field :  'income' ,
                        title :  '金额',
                        align: 'center',
                        valign: 'middle'
                    }]
                });
                $('#rank').bootstrapTable('hideLoading');
            }
        });
        $('a').hide();
    };

    $.get('/income/getMonth', function (result) {
        let mData = result.data;
        let colData;
        let myColumns;
        let sum = 0;
        if (result.code == "0") {
            myColumns = [{
                "field": '日期',
                "title": '日期',
                "align": 'center',
                "valign": 'middle'
            }];
            colData = [{"日期":'月涨幅'}];
            for (let i = 0; i < mData.length; i++){
                sum += mData[i].income;
                myColumns.push({
                    "field": mData[i].date,
                    "title": mData[i].date,
                    "align": 'center',
                    "valign": 'middle'
                });
                let na = mData[i].date.toString();
                colData[0][na] = mData[i].income;
            }
            myColumns.push({
                "field": '总计',
                "title": '总计',
                "align": 'center',
                "valign": 'middle'
            });
            colData[0]['总计'] = sum;
            console.log(colData);
            $('#monthIncome').bootstrapTable({
                data: colData,
                columns :  myColumns
            });
            $('#monthIncome').bootstrapTable('hideLoading');
        }
    });

</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("body").click(function(e) {
            var a_idx = getRndInteger(0,10);
            var a = new Array("❤설아❤","❤보나❤","❤엑시❤","❤수빈❤","❤루다❤","❤다원❤","❤은서❤","❤여름❤","❤다영❤","❤연정❤","❤우주소녀❤");
            var $i = $("<span></span>").text(a[a_idx]);
            var x = e.pageX,
                y = e.pageY;
            $i.css({
                "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
            });
            $("body").append($i);
            $i.animate({
                    "top": y - 180,
                    "opacity": 0
                },
                1500,
                function() {
                    $i.remove();
                });
        });
    });

    function getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min + 1) ) + min;
    }
</script>
</body>
</html>