<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>宇你有管</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/echart.min.js"></script>
</head>
<body>
<button class="btn btn-default" type="button" onclick="window.location.href='/data'" >油管数据查看</button>
<button class="btn btn-default" type="button" onclick="window.location.href='/income'" >油管集资查看</button>
<button class="btn btn-default" type="button" onclick="window.location.href='/addIncome'" >添加油管集资</button>
</body>
</html>
